@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 100;
  src: url("fonts/Futura Light BT.ttf"); }

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Futura Md BT Medium.ttf"); }

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Futura Md BT Bold.ttf"); }
