:root {
  font-size: 10px;
  font-family: OpenSans; }

@media only screen and (max-width: 1280px) {
  :root {
    font-size: 0.8vw; } }

@media only screen and (max-width: 1080px) {
  :root {
    font-size: 7.9px; } }

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Oswald-Light.ttf"); }

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Oswald-Regular.ttf"); }

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Oswald-Bold.ttf"); }

@font-face {
  font-family: 'Oswald';
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Oswald-LightItalic.ttf"); }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-ExtraBoldItalic.ttf");
  font-weight: 900;
  font-style: normal; }

.containerBig {
  width: 100%;
  max-width: 1357px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box; }

.headerBoxWrap {
  display: table;
  width: 100%;
  height: 14.1rem;
  padding-top: 1.2rem;
  box-sizing: border-box; }

.headerLogoBox {
  display: table-cell;
  vertical-align: middle; }

.headerTop {
  background-color: #8dc2bf;
  padding: 1.45rem 0;
  text-align: right; }

.headerToplink {
  color: #fff;
  font-family: "Oswald";
  font-weight: 400;
  text-decoration: none;
  transition-duration: .3s;
  font-size: 1.5rem; }
  .headerToplink:hover {
    text-decoration: none;
    color: #000; }

.headerToplink:not(:last-child) {
  border-right: 2px solid #fff;
  padding-right: 1.1rem;
  margin-right: 1.2rem; }

.headerLogo {
  height: 8rem; }

.headerTopBox {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  padding-left: 3rem; }

.headerTopBoxText {
  font-family: Oswald;
  color: #83807f;
  font-size: 2.6rem;
  letter-spacing: 0.21rem;
  font-style: italic;
  font-weight: 100; }

.headerTopMenu {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0; }

.headerTopMenuLi {
  display: inline-block; }

.headerTopMenuItem {
  font-family: "Oswald";
  font-weight: 100;
  font-size: 2.4rem;
  display: block;
  padding: 1rem 2.65rem;
  text-decoration: none;
  color: #83807f;
  letter-spacing: 0.07rem; }
  .headerTopMenuItem:hover {
    text-decoration: none;
    color: #83807f; }

.headerLine {
  background-color: #ededec;
  height: 1px;
  width: 100%; }

.footer {
  background-color: #6e7471;
  padding: 6.1rem 5.7rem 1rem; }

.footerTitle {
  font-family: "Oswald";
  font-weight: 100;
  font-size: 1.6rem;
  color: #8dc2bf;
  text-transform: uppercase;
  margin: 0 0 2.4rem; }

.footertext {
  font-family: "Oswald";
  font-weight: 100;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.5; }

.footertext > span {
  color: #e8b749; }

.footerBestImg > img {
  padding-top: 0.7rem;
  height: 6.7rem; }

.footer .row > div:nth-child(2) {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff; }

.footer .row > div:nth-child(4) {
  border-right: 1px solid #fff; }

.footerContact {
  list-style: none;
  margin: 0;
  padding: 0; }

.footerContactLink {
  display: block;
  text-decoration: none;
  color: fff;
  font-family: "Oswald";
  font-weight: 100;
  font-size: 1.6rem; }
  .footerContactLink:hover {
    color: #000;
    text-decoration: none; }
  .footerContactLink:nth-of-type(1) {
    margin-top: 3rem; }
  .footerContactLink:nth-of-type(3) {
    margin-bottom: 3rem; }

.footerContactLink > span {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  margin-right: 2rem; }

.footerSocial {
  margin: 0;
  padding: 0; }

.footerSocialItem {
  display: inline-block;
  margin-right: 2rem; }

.footerBest {
  display: table-row;
  width: 100%; }

.footerBestImg,
.footerBestText {
  display: table-cell; }

.footerBestText {
  padding-left: 2rem;
  vertical-align: top; }

.footerBottom {
  display: table;
  margin-top: 10rem;
  width: 100%; }

.footerCopyright {
  display: table-cell;
  font-size: 1.6rem;
  color: #fff;
  font-family: "Oswald";
  font-weight: 100; }

.footerAnother {
  display: table-cell;
  text-align: right; }

.footerAnotherLink {
  font-size: 1.6rem;
  color: #fff;
  font-family: "Oswald";
  font-weight: 100; }
  .footerAnotherLink:not(:first-child):before {
    content: "|";
    margin: 0 2rem;
    color: #fff; }
  .footerAnotherLink:hover {
    text-decoration: none;
    color: #000; }

.indexFirst {
  position: relative; }

.indexFirstContent {
  background: url("../img/indexFirstBg.jpg") no-repeat center;
  background-size: cover;
  text-align: center; }

.indexFirstTitle {
  text-transform: uppercase;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 4rem;
  padding: 8rem 2rem 7.8rem;
  text-align: center;
  color: #fff;
  margin: 0;
  letter-spacing: 0.1rem; }

.indexFirstText {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
  margin: 4.4rem 0 0; }

.indexFirsImg {
  margin: 3.4rem 0 8.3rem; }

.indexFirsImgText {
  background-color: #d8e1de;
  color: #83807f;
  font-family: 'OpenSans';
  font-weight: 300;
  font-style: italic;
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem 2rem 2.5rem;
  letter-spacing: -0.06rem; }

.indexFirstInput {
  padding: 1rem 2rem;
  width: 33.7rem;
  height: 4rem;
  border: none; }
  .indexFirstInput:focus {
    outline: 2px solid #eeb840; }

.indexFirstBtn {
  border: none;
  height: 4rem;
  width: 8.1rem;
  background-color: #eeb840;
  color: #fff;
  font-weight: bold; }
  .indexFirstBtn:hover {
    background-color: #cf9512; }

.indexDescribe {
  padding: 2rem 0 5rem; }

.indexDescribeTitle {
  font-size: 2.4rem;
  color: #9c8b57;
  font-family: "Oswald";
  font-weight: 100;
  position: relative;
  padding: 2.6rem 0 3.3rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06rem; }

.indexDescribeTitle:before {
  content: "";
  height: 1px;
  width: 10rem;
  position: absolute;
  bottom: 1.6rem;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #9c8b57; }

.indexDescribeText {
  font-size: 1.6rem;
  font-family: "OpenSans";
  color: #83807f;
  text-align: center;
  line-height: 1.55; }

.indexDescribeText > span {
  color: #eeb840; }

.indexStyle {
  background-color: #f5f5f5;
  padding: 5rem 0; }

.indexStyleTitle {
  font-family: "Oswald";
  font-weight: 100;
  font-size: 3rem;
  color: #9c8b57;
  position: relative;
  margin-top: 0.5rem;
  padding-bottom: 2rem;
  margin-bottom: 4.1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.08rem; }

.indexStyleTitle:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 10rem;
  background-color: #9c8b57;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto; }

.indexStyle .col-xs-12:nth-child(1) .indexStyleItem,
.indexStyle .col-xs-12:nth-child(5) .indexStyleItem {
  background-image: url(../img/indexStyleBg1.jpg); }

.indexStyle .col-xs-12:nth-child(2) .indexStyleItem,
.indexStyle .col-xs-12:nth-child(6) .indexStyleItem {
  background-image: url(../img/indexStyleBg2.jpg); }

.indexStyle .col-xs-12:nth-child(3) .indexStyleItem,
.indexStyle .col-xs-12:nth-child(7) .indexStyleItem {
  background-image: url(../img/indexStyleBg3.jpg); }

.indexStyle .col-xs-12:nth-child(4) .indexStyleItem,
.indexStyle .col-xs-12:nth-child(8) .indexStyleItem {
  background-image: url(../img/indexStyleBg4.jpg); }

.indexStyleItem {
  position: relative;
  background-size: cover;
  display: inline-block;
  width: 100%;
  margin-bottom: 3rem; }

.indexStyleItemLine {
  position: absolute;
  top: 1rem;
  right: 1rem;
  left: 1rem;
  bottom: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.85);
  pointer-events: none; }

.indexStyleItemContent {
  margin: 2rem;
  padding: 2rem 1rem 3rem;
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center; }

.indexStyleItemContentTitle {
  font-family: "Oswald";
  font-weight: 100;
  font-size: 2.4rem;
  color: #9c8b57;
  margin: 2rem 0 1rem;
  text-transform: uppercase; }

.indexStyleItemContentText {
  font-family: "Oswald L";
  color: #83807f;
  font-size: 1.6rem;
  margin-bottom: 3rem; }

.indexStyleItemContentLink {
  font-family: "Oswald";
  font-weight: 100;
  color: #83807f;
  font-size: 1.6rem; }

.indexStyleItemContentLink > span {
  color: #4a7eab; }

.indexWelove {
  display: table;
  width: 100%; }

.indexWeloveWrap {
  display: table-row; }

.indexWeloveContent,
.indexWeloveImg {
  display: table-cell;
  padding: 3rem 5.6rem 4.5rem;
  width: 50%;
  vertical-align: top; }

.indexWeloveImg {
  background: url("../img/indexWelove.jpg") left no-repeat;
  background-size: cover;
  text-align: right; }

.indexWeloveTitle {
  font-family: "Oswald";
  font-weight: 100;
  color: #9c8b57;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  margin-bottom: 2.7rem; }

.indexWeloveImg .indexWeloveTitle {
  color: #fff; }

.indexWeloveText {
  font-family: "OpenSans";
  font-weight: 100;
  color: #83807f;
  font-size: 1.6rem;
  line-height: 1.5; }

.indexWeloveText > span {
  color: #eeb840; }

.indexWeloveImgLogo {
  float: left;
  width: 20rem;
  padding: 2rem;
  position: relative;
  right: 4rem; }

.hotSpots {
  display: table;
  width: 100%; }

.hotSpotsWrap {
  display: table-row; }

.hotSpotsGroup {
  display: table-cell;
  width: 50%; }

.hotSpotsItem {
  display: block;
  width: 50%;
  height: 36rem;
  background-color: #fff;
  float: left;
  position: relative; }

.hotSpotsItemContent1,
.hotSpotsItemContent2 {
  padding: 3.5rem 5.7rem 3rem 3rem; }

.hotSpotsItemimg1:before,
.hotSpotsItemimg2:before {
  content: "";
  position: absolute;
  border: 2rem solid transparent;
  border-right: 2rem solid #fff;
  right: 0;
  top: 20%; }

.hotSpotsItemImg1 {
  background-image: url(../img/hotSpotsBg1.jpg);
  background-size: cover; }

.hotSpotsItemImg2 {
  background-image: url(../img/hotSpotsBg2.jpg);
  background-size: cover; }

.hotSpotsItemImgText {
  font-family: "Oswald";
  font-weight: 100;
  font-size: 2.4rem;
  color: #9c8b57;
  text-transform: uppercase;
  display: block;
  padding: 1rem 3rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
  height: 6rem;
  width: 20rem;
  text-align: center; }

.hotSpotsItemContentTitle {
  font-family: "Oswald";
  font-weight: 100;
  font-size: 3rem;
  color: #9c8b57;
  text-transform: uppercase;
  margin-bottom: 2.6rem; }

.hotSpotsItemContentText {
  font-family: OpenSans;
  font-size: 1.7rem;
  color: #83807f;
  line-height: 1.47; }

.hotSpotsItemContentText > span {
  color: #eeb840; }

.hotSpotsTitle {
  font-family: "Oswald";
  font-weight: 100;
  font-size: 3rem;
  color: #9c8b57;
  position: relative;
  padding: 3rem 0 4.7rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #d8e1de;
  margin: 0;
  letter-spacing: 0.08rem; }

.hotSpotsTitle:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 10rem;
  background-color: #9c8b57;
  bottom: 2.9rem;
  right: 0;
  left: 0;
  margin: auto; }
