a {
  color: #000;
  text-decoration: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 27.6rem;
  box-sizing: border-box;
  padding: 1.1rem 4.3rem;
  box-shadow: 0 1px 5px grey;
  min-height: 75rem; }

.headerSocialFB {
  display: block;
  width: 4.5rem;
  margin: 2.2rem auto 5.4rem;
  padding-right: 1.6rem; }
  .headerSocialFB > svg {
    width: 100%; }

.header_logo {
  width: 100%; }

.header_menu {
  position: relative;
  margin-top: 2rem;
  padding: 0.5rem 0; }
  .header_menu:before, .header_menu:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0.6rem;
    background: #000; }
  .header_menu:after {
    top: auto;
    bottom: 0; }

.header_menu > li {
  display: block; }
  .header_menu > li:not(:last-child) {
    border-bottom: 1px solid grey; }

.header_menu_link {
  display: block;
  padding: 0.9rem 0 1.3rem;
  font-size: 3.3rem;
  transition-duration: .5s; }
  .header_menu_link.active, .header_menu_link:hover {
    font-weight: 900; }

.header_logo-down {
  position: absolute;
  bottom: 3.3rem;
  left: 4.7rem;
  width: 17.3rem; }

.header_logo-down_img {
  width: 100%;
  pointer-events: none; }

.header_logo-down_text {
  overflow: hidden; }

.footer {
  position: absolute;
  right: 5rem;
  bottom: 3rem;
  width: 7rem; }

.svg_footer {
  width: 100%;
  fill: grey; }

main {
  margin-left: 27.6rem; }

.index {
  background: url("../img/main_bg.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  left: 27.6rem; }
  .index:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: .8rem;
    background: #ffd200; }

.page-index .header,
.page-test .header {
  position: relative;
  height: 100vh; }

.page-index .footer,
.page-test .footer {
  position: fixed; }

#container-test {
  height: 100vh; }

.page-test {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  left: 27.6rem; }

#demo-tiger {
  width: 100%;
  height: 100vh; }
