html {
  font-family: 'Roboto'; }

body {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #E8ECF4;
  padding-bottom: 55px; }

.index-header {
  background-color: #2B85E9;
  padding: 16px 15px; }

.logo {
  height: 25px; }

.button-lang {
  text-transform: uppercase;
  height: 27px;
  line-height: 27px;
  font-size: 13px;
  padding: 0 20px 0 10px;
  color: #fff;
  font-family: Roboto;
  font-weight: 500;
  float: right;
  background: url(../img/arrow-down.png) 90% center no-repeat;
  position: relative;
  right: 5px;
  bottom: 1px; }

.index-title {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  line-height: 34px;
  color: #FFFFFF;
  margin: 46px 10px 11px; }

.index-content-title {
  font-family: Roboto;
  font-size: 15px;
  text-align: center;
  line-height: 27px;
  letter-spacing: 1px;
  color: #A7ADB2;
  margin: 28px 0 22px;
  position: relative;
  right: 2px; }

.index-content-title > span {
  font-family: Roboto;
  font-size: 30px;
  text-align: center;
  color: #3C4044;
  display: block;
  letter-spacing: 0.1px; }

.index-content-img {
  display: inline-block;
  text-decoration: none;
  width: 48.5px;
  height: 48.5px;
  background-color: #00C853;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  margin: auto;
  border-radius: 100%;
  position: relative;
  right: 2px; }

.index-content-img > img {
  width: 17px;
  margin-top: 16px; }

.footer {
  display: table;
  height: 55px;
  background-color: #FFFFFF;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #F2F3F4; }

.footer-menu {
  display: table-row;
  width: 100%; }

.footer-item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 25%; }

.footer-text {
  font-family: Roboto;
  font-size: 12px;
  text-align: center;
  color: #8395AA;
  text-transform: uppercase;
  margin-top: 7px; }

.index-content {
  width: 240px;
  background-color: #FFFFFF;
  box-shadow: 0 8px 12px 0 rgba(53, 56, 74, 0.1);
  border-radius: 3px;
  margin: 44px auto 10px;
  text-align: center;
  box-sizing: border-box;
  padding: 42px 10px 30px; }

.reports-title {
  display: inline-block;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #FFFFFF; }

.reports-search {
  position: relative; }

.label-search {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  line-height: 19px;
  height: 19px;
  color: #A7ADB2;
  margin: auto;
  vertical-align: middle; }

.label-search > img {
  height: 19px;
  margin-right: 5px;
  vertical-align: middle; }

#search {
  border: 0;
  width: 100%;
  height: 52px; }

.reports-count {
  font-family: Roboto;
  font-size: 15px;
  line-height: 20px;
  color: #8395AA;
  padding: 26px 15px 15px; }

.reports-item {
  margin: 0 15px 18px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px 0 rgba(53, 56, 74, 0.05);
  border-radius: 3px;
  padding: 12px 0 0; }

.reports-row1,
.reports-row2,
.reports-row3 {
  display: table;
  width: 100%;
  padding: 6px 24px;
  box-sizing: border-box; }

.reports-row2 {
  padding-bottom: 8px; }

.reports-row3 {
  border-top: 1px solid rgba(167, 173, 178, 0.15);
  padding: 11px 25px 13px; }

.reports-col1_1,
.reports-col1_2,
.reports-col2_1 {
  display: table-cell;
  text-align: left;
  vertical-align: middle; }

.reports-col1_2,
.reports-col2_2,
.reports-col3_2 {
  display: table-cell;
  text-align: right;
  vertical-align: middle; }

.reports-col1_1 {
  font-family: Roboto;
  font-size: 18px;
  line-height: 24px;
  color: #3C4044; }

.reports-col2_1 {
  font-family: Roboto;
  font-size: 15px;
  line-height: 20px;
  color: #A7ADB2; }

.reports-col1_2 > span {
  display: inline-block;
  height: 20px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  color: #FFFFFF;
  margin-left: 5px;
  background-color: #00C853;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 0 7px;
  text-transform: uppercase;
  position: relative;
  top: 1px; }

.reports-col2_2 {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: #A7ADB2; }

.reports-col3_2 > a {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: #2981E8;
  text-decoration: none; }

.reports-col3_1 {
  font-family: Roboto;
  font-size: 15px;
  line-height: 20px;
  color: #2981E8; }

.reports-col3_1 > img {
  vertical-align: middle;
  margin-right: 5px; }

.reports-header {
  background-color: #2B85E9;
  padding: 14px 11px 15px; }

.reports-arrow {
  height: 16px;
  margin: 0 40px 0 5px; }

.reports-title {
  display: inline-block;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #FFFFFF; }

.reports-lang {
  line-height: 30px;
  font-size: 15px;
  padding: 0 24px 0 10px;
  color: #fff;
  font-family: Roboto;
  font-weight: 500;
  float: right;
  background: url(../img/arrow-down.png) 90% center no-repeat; }
