:root {
  font-size: 10px;
  font-family: 'Futura'; }

@media only screen and (max-width: 1280px) {
  :root {
    font-size: 0.8vw; } }

@media only screen and (max-width: 1080px) {
  :root {
    font-size: 7.9px; } }

@media only screen and (max-width: 767px) {
  .burger-menu {
    display: block; }
  .headerContent {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99;
    text-align: center;
    padding: 3rem 0; }
  .headerLang {
    margin-bottom: 3rem; }
  .headerSocial svg {
    padding: 0 1rem;
    margin: 0 1rem;
    width: 2rem;
    height: 2rem; }
  .headerMenuLi {
    display: block; }
  .headerMenuLink {
    padding: 1rem;
    margin: 1rem; } }
