:root {
  font-size: 10px;
  font-family: "montserratlight"; }

@media only screen and (max-width: 1900px) {
  :root {
    font-size: 0.538vw; } }

@media only screen and (max-width: 1439px) {
  :root {
    font-size: 0.7vw; } }

@media only screen and (max-width: 1440px) {
  :root {
    font-size: 0.538vw; } }

@media only screen and (max-width: 980px) {
  :root {
    font-size: 6px; } }

@media only screen and (max-width: 767px) {
  :root {
    font-size: 6.5px; } }


@media only screen and (max-width: 1023px) {

}


@media only screen and (max-width: 767px) {
  .process-item-center {
    display: none;
  }
  .process .container .process-item:before,
  .process .process-item .process-item-left:before {
    content: none;
  }
  .process-item-left {
    width: 100%;
    display: table;
    box-sizing: border-box;
  }
  .process-item-right {
    display: table-caption;
    text-align: center;
    padding-bottom: 5rem;
    width: 100%;
  }
  .process-space {
    height: 10rem;
  }
  .footer-row:first-of-type .footer-left,
  .footer-row:first-of-type .footer-right {
    width: 100%;
    display: table;
    text-align: left;
  }
  .footer-right .footer-link {
    margin: 0 1.7rem 3.7rem 0;
  }
  .footer-row:last-of-type {
    padding: 0;
  }
  .side-menu {
    float: none;
    width: auto;
    margin-left: 3rem;
  }
  .faq-content {
    float: none;
    width: auto;
    padding: 0 3rem;
  }
  .side-menu-inner.fixed {
    display: static !important;
  }

}

@media only screen and (max-width: 550px) {
  .soc-google {
    right: -0.5rem;
    top: 1rem;
  }
  .footer-btn-up {
    position: absolute;
    left: -0.5rem;
    top: 1rem;
  }
  .footer-btn {
    width: 18.6rem;
  }
  .process-title {
    text-align: left;
    padding: 2rem;
  }
}

