:root {
  font-size: 10px;
  font-family: 'Futura'; }

@media only screen and (max-width: 1280px) {
  :root {
    font-size: 0.8vw; } }

@media only screen and (max-width: 1080px) {
  :root {
    font-size: 7.9px; } }

@media only screen and (max-width: 850px) {
  :root {
    font-size: 7.1px; } }

@media only screen and (max-width: 767px) {
  .burger-menu {
    display: block; }
  .headerContent {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99;
    text-align: center;
    padding: 3rem 0;
    box-sizing: border-box;
    height: 100vh; }
  .headerLang {
    margin-bottom: 3rem; }
  .headerSocial svg {
    padding: 0 1rem;
    margin: 0 1rem;
    width: 2rem;
    height: 2rem; }
  .headerMenuLi {
    display: block; }
  .headerMenuLink {
    padding: 1rem;
    margin: 1rem; }
  .worksshopsItem {
    width: 48%;
    margin: 1%; }
  .workshops-singleImg {
    float: none;
    display: block;
    margin: 0 auto 3rem;
    max-width: 310px; }
  .workshops-singleItem {
    margin: 0 3rem; }
  .headerLogo {
    font-size: 2.4rem;
    padding: 2rem 0 0;
    display: inline-block;
    position: relative;
    left: -2rem; }
  .worksWrapLarge .btnNext,
  .worksWrapLarge .btnPrev {
    opacity: 1; }
  .indexImg {
    max-height: 74vh; }
  .workshops-singleItem {
    text-align: justify; }
  .headerMenuLink {
    font-size: 2.5rem; }
  .worksNavi {
    text-align: left; }
  .worksNaviLink {
    padding: 0.2rem 0.5rem; } }

@media only screen and (max-width: 500px) {
  .worksshopsItem {
    width: 98%; } }

@media only screen and (max-width: 450px) {
  .worksWrapMiniature {
    float: none; }
  .worksWrapMiniatureItem {
    display: block;
    height: auto;
    width: auto;
    margin: 1rem auto; }
  .worksWrapMiniatureItem > img {
    position: static; }
  .worksNavi {
    text-align: left; }
  .workshops-singleImg {
    float: none;
    margin: 0 2rem 2rem;
    max-width: none;
    width: 90%;
    width: calc( 100% - 4rem); }
  .workshops-singleItem {
    text-align: justify; }
  .workshops-singleItem {
    margin: 0 2rem; }
  .burger-menu {
    top: 1.2rem;
    right: 2rem; } }
