:root {
  font-size: 10px;
  font-family: "Helvetica"; }

@media only screen and (max-width: 1439px) {
  :root {
    font-size: 0.7vw; } }

@media only screen and (max-width: 1400px) {
  :root {
    font-size: 0.65vw; } }

@media only screen and (max-width: 980px) {
  :root {
    font-size: 6px; } }

@media only screen and (max-width: 767px) {
  :root {
    font-size: 6.5px; } }
