html, body {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.page-wrapper {
    margin: 0 auto;
    width: 100%;
}

button {
    font-size: 1.6rem;
    padding: 15px 40px;
}

button.white {
    font-size: 1.4rem;
    padding: 10px 10px;
}

span.block:before {
    content: ' ';
    display: block;
}

#header-top {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 0 0;
    font-size: 1.4rem;
}

.logo img {
    max-width: 150px;
    position: relative;
    top: 12px;
}

#header-top .language-switch {
    margin: 0 15px 0 0;
    font-size: 15px;
}

#header-top button.white {
    margin: 0;
}

#header-top .right {
    margin: 4px 0 0 0;
}

#header-wrapper {
    width: 85%;
    margin: 0 auto;
    background: url("../img/header-bg.gif") top center no-repeat;
    background-size: contain;
    padding: 100px 0 40px 0;
    min-height: 100px;
}

#header-wrapper .title {
    width: 90%;
    font-size: 2.3rem;
    line-height: 2.8rem;
}

#header-wrapper .description {
    width: 100%;
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin: 20px auto 40px;
}

#content .content-title-box .big-title {
    width: 100%;
    font-size: 28px !important;
    line-height: 30px !important;
    margin: 0 0 15px 0;
}

#content #guarantee-wrapper .content-title-box .big-title {
    margin: 240px 0 15px 0;
}

#content .content-title-box .description {
    width: 90%;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

#content .lunch-wrapper {
    margin: 0 auto;
    background: url("../img/mobile/bg-cut-1-mobile.svg") top center no-repeat;
    background-size: cover;
    padding: 175px 0 55px 0;
    top: -10px;
    max-width: 640px;
    height: auto;

}

#content .lunch-wrapper .start-a-project {
    top: -145px;
}

#content .lunch-wrapper .lunch-process-texts {
    height: auto;
}

#content .lunch-wrapper .content-title-box h2.big-title {
    padding: 80px 0 0 0;
}

.lunch-process-texts {
    position: relative;
    top: -100px;
}

#content .lunch-wrapper .get-a-quote {
    position: relative;
    top: 20px;
}

#content .lunch-wrapper .content-title-box {
    margin: 0;
}

#content ul.process-list {
    margin: 20px auto 0;
}

#content ul li.process-box {
    width: 90%;
    text-align: center;
    margin: 10px auto;
    padding: 0 0 0 0;
}

#content ul li.process-box .img {
    height: 70px;
    width: 100%;
    margin: 40px 0 20px 0;
}

#content ul li.process-box .lunch-proposal {
    background: url("../img/icon-lunch-proposal.svg") center center no-repeat;
    background-size: contain;
}

#content ul li.process-box .lunch-blueprints {
    background: url("../img/icon-lunch-blueprints.svg") center center no-repeat;
    background-size: contain;
}

#content ul li.process-box .lunch-loop {
    background: url("../img/icon-lunch-loop.svg") center center no-repeat;
    background-size: contain;
}

#content ul li.process-box .lunch-delivery {
    background: url("../img/icon-lunch-delivery.svg") center center no-repeat;
    background-size: contain;
}

#content ul li.process-box .lunch-improve {
    background: url("../img/icon-lunch-improve.svg") center center no-repeat;
    background-size: contain;
}

#content ul li.process-box .title {
    font-size: 2rem !important;
    line-height: 2.8rem;
    width: 100%;
    text-align: center;
}

#content ul li.process-box .text {
    /* It all starts with a: */
    font-size: 1.7rem;
    line-height: 26px;
    width: 100%;
    text-align: center;
}

#content .content-small-box {
    width: 90%;
}

#content .content-small-box .title {
    font-size: 23px;
    line-height: 66px;
}

#content .content-small-box .description {
    font-size: 1.6rem;
    line-height: 26px;
}

ul.guarantee-list {
    margin: 0 auto;
}

ul li.guarantee-box, ul li.guarantee-box, ul li.guarantee-box, ul li.guarantee-box:last-of-type {
    margin: 50px 0 0 0;
}

ul li.guarantee-box .title {
    font-size: 2.2rem;
    line-height: 50px;
}

ul li.guarantee-box .description {
    font-size: 1.8rem;
    line-height: 26px;
}

#content .testimonials-wrapper {
    padding: 0 0 0 0;
    background: url("../img/mobile/bg-cut-2-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: hidden;
}

.testimonials-box {
    width: 100%;
    margin: 0 auto;
    padding: 95px 0 0 0;
    overflow: hidden;
}

.slick-arrow {
    display: none !important;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 0;

}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.carousel-testimonials {
    margin: 45px 0 0 0;
    float: none;

}

.carousel-pictures {
    width: 100%;
    display: block;
}

ul.carousel-controls {
    margin: 25px auto;
    float: none !important;
}

.carousel-wrapper.right {
    float: none;
}

ul.carousel-controls li {
    display: inline-block !important;
    margin: 25px 15px 0 0;
    background: url("../img/mobile/slider-dot.png") center center no-repeat;
}

ul.carousel-controls li.slick-active {
    background: url("../img/mobile/slider-dot-active.png") center center no-repeat;
    width: 16px;
    height: 16px;
    background-size: contain;
}

.product-text {
    display: block;
    width: 100%;
    background: #FFFFFF;
    text-align: left;
    padding: 8px 30px 23px 30px;
    min-height: 220px;
    border-bottom: 1px solid #CBD2D4;
}

.product-text .title {
    font-size: 2.2rem;
    color: #7E8288;
    line-height: 66px;
    font-weight: 200;
}

.product-text .title img {
    margin: 10px 0 20px 0;
}

.product-text .text {
    display: block;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #7E8288;
    max-width: 90%;
    height: 110px;
}

.product-text .website-link {
    display: inline-block;
    color: #4299F0;
    border-bottom: 2px solid #4299F0;
    cursor: pointer;
    margin: 15px 0 0 0;
    font-size: 1.6rem;
    line-height: 20px;
    font-weight: 400;
}

.pictures {
    width: 100%;
    height: auto;
    background: none;
    margin: 0;
    padding: 0;
}

.pictures > img {
    overflow: hidden;
    /*min-height: 100%;*/
}

ul.carousel-pictures li > img {
    width: 100%;
}

ul.carousel-pictures li {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

ul.testimonial-controllers li img {
    width: 50px;
    height: 50px;
    margin: 0 15px 0 0;
    padding: 0 15px;
}

ul.speech-bubble {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0 20px 15px;
}

ul.speech-bubble li .testimonial .website-link {
    bottom: 0;
}

.speech-bubble-top {
    height: 15px;
}

.slick-active .speech-bubble-top {
    background-size: cover;
    height: 15px;
}

ul.speech-bubble li .author-name {
    font-size: 1.8rem;
    line-height: 24px;
}

ul.speech-bubble li .author-title {
    font-size: 1.4rem;
    line-height: 40px;
}

ul.speech-bubble li .testimonial {
    /* Lorem ipsum dolor si: */
    font-size: 1.6rem;
    line-height: 2.5rem;
    width: 95%;
    font-weight: 200;
    margin: 4px 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.customer-wrapper {
    margin: 0 0 -80px 0;
    top: -100px;
}

.customers-testimonial {
    width: 100%;
}

.footer-wrapper {
    margin: 150px auto 0;
    width: 95%;
}

#footer .start-a-project {
    padding: 20px 0 0 0;
    margin: 0 0 35px 0;
}

#footer .left {
    float: none;
}

#footer .right {
    float: none;
}

#footer ul li {
    font-size: 1.5rem;
    color: #7E8288;
    display: inline-block;
}

#footer .contact-details {
    text-align: left;
    margin: 0;
    width: 100%;
}

#footer button.white {
    float: right;
    width: 120px;
    display: inline-block;
}

#footer .contact-details a {
    margin: 15px 0 15px 0;
}

#footer .bottom-logos .right {
    width: 60%;
    text-align: right;
}

