html, body {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

html {
    font-size: 9px;
    line-height: 9px;
}

.page-wrapper {
    margin: 0 auto;
    width: 100%;
}

span.block:before {
    content: ' ';
    display: block;
}

#header-top {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 0 0;
    font-size: 1.4rem;
}

#header-top button.white{
    margin: 0;
}

#header-wrapper {
    width: 86%;
    margin: 0 auto;
    background: url("../img/header-bg.gif") top center no-repeat;
    background-size: contain;
    padding: 100px 0 130px 0;
    min-height: 100px;
}

#header-wrapper .title {
    line-height: 4.5rem;
    font-size: 4rem;
    margin: 35px auto 20px;
}

#header-wrapper .description {
    width: 80%;
    font-size: 2rem;
    line-height: 3rem;
}

#content .lunch-wrapper {
    overflow: hidden;
    padding: 0 0 20px 0;
    margin: 0 auto 0;
    /*height: 1900px;*/
}

#content .lunch-wrapper .start-a-project {
    top: 85px;
}

#content .content-title-box h2.big-title {
    font-size: 3.5rem;
    line-height: 4rem;
}

#content .lunch-wrapper .content-title-box h2.big-title {
    padding: 50px 0 0 0;
}

#content .lunch-wrapper .lunch-process-texts {
    height: auto;
}

#content ul.process-list {
    margin: 0 auto;
    padding: 50px 0 0 0;
}

#content ul li.process-box {
    margin: 0 0 40px 0;
}

#content ul li.process-box .img {
    background-size: contain;
    margin: 12px 35px 0 0;
    max-width: 9rem;
    max-height: 9rem;
}

#content ul li.process-box .lunch-proposal {
    background: url("../img/icon-lunch-proposal.svg") top right no-repeat;
    margin: 12px 32px 0 20px;
    background-size: contain;
    width: 7rem;
    max-height: 9rem;
}

#content ul li.process-box .lunch-blueprints {
    background: url("../img/icon-lunch-blueprints.svg") top center no-repeat;
    max-width: 11rem;
    background-size: contain;
    margin: 12px 17px 0 0;
}

#content ul li.process-box .title, #content ul li.process-box .text {
    max-width: 300px;
}

#content ul li.process-box .title {
    font-size: 20px;
    line-height: 25px;
}

#content #guarantee-wrapper {
    top: -145px;
}

#content .testimonials-wrapper {
    padding: 0 0 0 0;
    background: url("../img/mobile/bg-cut-2-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: hidden;
}

.testimonials-box {
    width: 100%;
    margin: 0 auto;
    padding: 95px 0 0 0;
    overflow: hidden;
}

ul.speech-bubble li .testimonial {
    font-size: 2rem;
    line-height: 2.5rem;
}

.slick-arrow {
    display: none !important;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 0;

}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.carousel-testimonials {
    margin: 45px 0 0 0;
    float: none;

}

.carousel-pictures {
    width: 100%;
    display: block;
}

ul.carousel-controls {
    margin: 25px auto;
    float: none !important;
}

.carousel-wrapper.right {
    float: none;
}

ul.carousel-controls li {
    display: inline-block !important;
    margin: 25px 15px 0 0;
    background: url("../img/mobile/slider-dot.png") center center no-repeat;
}

ul.carousel-controls li.slick-active {
    background: url("../img/mobile/slider-dot-active.png") center center no-repeat;
    width: 16px;
    height: 16px;
    background-size: contain;
}

.product-text {
    display: block;
    width: 100%;
    background: #FFFFFF;
    text-align: left;
    padding: 8px 30px 23px 30px;
    min-height: 220px;
    border-bottom: 1px solid #CBD2D4;

}

.product-text .title {
    font-size: 2.2rem;
    color: #7E8288;
    line-height: 66px;
    font-weight: 200;
}

.product-text .title img {
    margin: 10px 0 20px 0;
}

.product-text .text {
    display: block;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #7E8288;
    max-width: 90%;
    height: 110px;
}

.product-text .website-link {
    display: inline-block;
    color: #4299F0;
    border-bottom: 2px solid #4299F0;
    cursor: pointer;
    margin: 15px 0 0 0;
    font-size: 1.6rem;
    line-height: 20px;
    font-weight: 400;
}

.pictures {
    width: 100%;
    height: auto;
    background: none;
    margin: 0;
    padding: 0;
}

.pictures > img {
    min-width: 100%;
}

ul.carousel-pictures li > img {
    width: 100%;
}

ul.carousel-pictures li {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

ul.testimonial-controllers li img {
    width: 70px;
    height: 70px;
    margin: 0 15px 0 0;
}

ul.speech-bubble li {
    width: 90%;
}

#footer {
    overflow: hidden;
}

.footer-wrapper {
    margin: 150px auto 0;
    width: 95%;
}

#footer .start-a-project {
    padding: 20px 0 0 0;
    margin: 0 0 35px 0;
}

#footer .left {
    float: none;
}

#footer .right {
    float: none;
}

#footer ul li {
    font-size: 1.5rem;
    color: #7E8288;
    display: inline-block;
}

#footer .contact-details {
    text-align: left;
    margin: 0;
    width: 100%;
}

#footer button.white {
    float: right;
    display: inline-block;
}

#footer .contact-details a {
    margin: 15px 0 15px 0;
}

#footer .bottom-logos .right {
    width: 60%;
    text-align: right;
}
