html {
    font-size: 10px;
    line-height: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #EAEDF2;
}

.page-wrapper {
    max-width: 1440px;
    background-color: #ffffff;
    margin: 0 auto;
    overflow: hidden;
}

a, a:hover {
    text-decoration: none;
}

button {
    /* Rectangle 4: */
    background: #0FBDAF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 1.9rem;
    color: #FFFFFF;
    padding: 20px 52px;
    font-weight: 300;
    border: none;
    cursor: pointer;
}

button.white {
    color: #565656;
    border: 2px solid #7E8288;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 1.8rem;
    padding: 10px 21px;
}

#header-top button.white{
    margin: 0 30px 0 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
    border: 0;
    margin: 0;
    height: 0;
}

#header-top {
    width: 920px;
    margin: 0 auto;
    padding: 45px 0 0 0;
    font-size: 1.8rem;
}

ul#menu {
    list-style: none;
    display: inline-block;
}

ul#menu li {
    display: inline-block;
}

#header-top a {
    color: #333437;
    text-decoration: none;
}

#header-top a:hover {
    color: #333437;
    text-decoration: none;
}

#header-top .language-switch {
    display: inline-block;
    margin: 0 20px 0 0;
    height: 45px;
    line-height: 45px;
}

#header-wrapper {
    width: 1100px;
    margin: 0 auto;
    background: url("../img/header-bg.gif") top center no-repeat;
    padding: 175px 0 130px 0;
    min-height: 300px;
}

#header-wrapper .title {
    max-width: 560px;
    margin: 0 auto;
    font-size: 4.5em;
    color: #565656;
    line-height: 5.5rem;
    font-weight: 800;
    text-align: center;
    font-family: 'montserratsemibold', sans-serif;
}

#header-wrapper .description {
    width: 60%;
    max-width: 640px;
    margin: 25px auto;
    font-size: 2.1rem;
    color: #565656;
    line-height: 3.5rem;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.start-a-project span {
    font-size: 1.6rem;
    color: #7D7D7D;
    line-height: 41px;
    font-weight: 100;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width: 100%;
    font-weight: 300;
    margin: 0 auto;
}

#content .content-title-box h2.big-title {
    font-size: 4.4rem;
    color: #4299F0;
    line-height: 5.5rem;
    text-align: center;
    font-family: 'montserratlight', sans-serif;
    max-width: 900px;
    margin: 10px auto 20px;
}

#content .content-title-box .description {
    max-width: 630px;
    font-size: 2.1rem;
    color: #7E8288;
    line-height: 3rem;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    font-family: Arial, Helvetica, sans-serif;

}

#content .lunch-wrapper {
    max-width: 1440px;
    overflow: auto;
    margin: 0 auto;
    position: relative;
    background: url("../img/w1440/bg-cut-1.svg") top center no-repeat;
    top: -205px;
    padding: 0 0 98px 0;
}

#content .lunch-wrapper .start-a-project {
    overflow: auto;
    position: relative;
    top: 85px;
}

#content .lunch-wrapper .lunch-process-texts {
    height: 1550px;
}

#content .lunch-wrapper .content-title-box {
    margin: 100px 0 0 0;
}

#content .lunch-wrapper .content-title-box h2.big-title {
    padding: 125px 0 0 0;
    font-family: 'montserratlight', sans-serif;
}

#content ul.process-list {
    margin: 70px 0 70px 80px;
    list-style: none;
    display: inline-block;
    max-width: 750px;
}

#content ul li.process-box {
    display: block;
    max-width: 960px;
    margin: 0 0 70px 0;
    text-align: left;
}

#content ul li.process-box:after {
    clear: both;
}

#content ul li.process-box .img {
    width: 15.1rem;
    height: 15.1rem;
    margin: 1.2rem 11rem 0 0;
    background-size: contain;
}

#content ul li.process-box .lunch-proposal {
    background: url("../img/icon-lunch-proposal.svg") top right no-repeat;
    margin: 1.2rem 11.9rem 0 0;
    width: 14.1rem;
    height: 10.5rem;
}

#content ul li.process-box .lunch-blueprints {
    background: url("../img/icon-lunch-blueprints.svg") top center no-repeat;
    height: 11rem;
}

#content ul li.process-box .lunch-loop {
    background: url("../img/icon-lunch-loop.svg") top center no-repeat;
    height: 12rem;
    width: 15rem;
    margin: 1.2rem 11.2rem 0 0;
}

#content ul li.process-box .lunch-delivery {
    background: url("../img/icon-lunch-delivery.svg") top center no-repeat;
    height: 9.7rem;
}

#content ul li.process-box .lunch-improve {
    background: url("../img/icon-lunch-improve.svg") top right no-repeat;
    height: 12rem;
}

#content ul li.process-box .title {
    font-family: 'montserratlight', sans-serif;
    font-size: 2.8rem;
    color: #565656;
    line-height: 3.5rem;
    width: 465px;
    font-weight: 400;
    padding: 0 0 10px 0;
}

#content ul li.process-box .text {
    font-size: 2rem;
    color: #7E8288;
    line-height: 3rem;
    max-width: 480px;
    font-family: Arial, Helvetica, sans-serif;
}

#content #guarantee-wrapper {
    overflow: auto;
    position: relative;
    top: -185px;
    margin: 0 auto;
}

ul.guarantee-list {
    margin: 46px auto 0;
    display: inline-block;
}

ul li.guarantee-box {
    width: 300px;
    display: inline-block;
    margin: 0 25px 0 0;
    padding: 58px 0 20px 0;
    background-size: contain;
    vertical-align: top;
}

ul li.guarantee-box:last-of-type {
    margin: 0;
}

ul li.price-guarantee {
    background: url("../img/icon-price.svg") top center no-repeat;
}

ul li.quality-guarantee {
    background: url("../img/icon-guarantee.svg") top center no-repeat;
}

ul li.loyalty-guarantee {
    background: url("../img/icon-timeline.svg") top center no-repeat;
}

ul li.guarantee-box .title {
    font-family: 'montserratlight', sans-serif;
    font-size: 2.8rem;
    color: #333437;
    line-height: 66px;
    font-weight: 400;
}

ul li.guarantee-box .description {
    /* Once we quote you a: */
    font-size: 1.9rem;
    color: #7E8288;
    line-height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

#content .testimonials-wrapper {
    margin: 0 auto;
    background-image: url("../img/w1440/bg-cut-2.svg");
    padding: 0 0 111px 0;
    position: relative;
    overflow: auto;
    top: -150px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.testimonials-box {
    margin: 0 auto;
    padding-top: 300px;
}

.carousel-testimonials {
    max-width: 1280px;
    margin: 60px auto;
}

.product-info {
    background-color: #ffffff;
    border: 1px solid #CBD2D4;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 8px 23px 23px 23px;
    margin: 35px 0 0 0;
    width: 455px;
    text-align: left;
}

.product-info .title {
    font-family: 'montserratlight', sans-serif;
    font-size: 2.8rem;
    color: #333437;
    line-height: 6.6rem;
    font-weight: 600;
}

.product-info .title img {
    margin: 10px 0 20px 0;
}

.product-info .text {
    display: block;
    font-size: 1.9rem;
    color: #565656;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 145px;
}

.product-info .website-link {
    display: inline-block;
    margin: 52px 0 0 0;
    font-size: 1.8rem;
    font-weight: 400;
    color: #4299F0;
    border-bottom: 2px solid #4299F0;
    cursor: pointer;
}

.pictures {
    max-width: 700px;
    height: 445px;
    background: url("../img/full-screen-laptop.png") top center no-repeat;
    padding: 33px 0 0 0;
}

ul.contact-pictures {
    display: block;
}

ul.carousel-pictures li {
    display: inline-block;
    padding: 0 0 0 60px;
}

ul.carousel-pictures li > img {
    max-width: 579px;
}

.customer-wrapper {
    margin: 0 0 58px 0;
    position: relative;
    top: -50px;
}

.content-small-box {
    max-width: 700px;
    margin: 0 auto;
}

.content-small-box .title {
    font-family: 'montserratlight', sans-serif;
    font-size: 2.3rem;
    color: #333437;
    line-height: 66px;
    font-weight: 400;
}

.content-small-box .description {
    font-size: 1.6rem;
    color: #565656;
    line-height: 26px;
    margin-bottom: 62px;
    font-family: Arial, Helvetica, sans-serif;
}

ul.carousel-controls li {
    list-style: none;
    background: url("../img/slider-dot-inactive.png") center center no-repeat;
    background-size: contain;
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 0 15px 30px;
    cursor: pointer;
}

ul.carousel-controls li.slick-active {
    background: url("../img/slider-dot-active.png") center center no-repeat;
}

a.arrow-left {
    display: block;
    background: url("../img/up-arrow.png") top left no-repeat;
    background-size: contain;
    width: 33px;
    height: 33px;
    margin: 35px 20px 0 10px;
    cursor: pointer;
}

a.arrow-right {
    display: block;
    background: url("../img/down-arrow.png") top left no-repeat;
    background-size: contain;
    width: 33px;
    height: 33px;
    margin: 35px 0 108px 20px;
    cursor: pointer;
}

.customers-testimonial {
    margin: 0 auto;
    max-width: 728px;
}

ul.testimonial-controllers {
    display: block;
    margin: 30px auto 0;

}

ul.testimonial-controllers li {
    display: inline-block;
    cursor: pointer;
}

ul.testimonial-controllers li img {
    width: 120px;
    height: 120px;
    margin: 0 50px 0 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

ul.testimonial-controllers li:last-of-type img {
    margin: 0;
}

.speech-bubble-top {
    width: 37px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    border: 0;
    margin: 10px 0 0 0;
}

.speech-bubble-top {
    background: none;
}

.slick-active .speech-bubble-top {
    background: url("../img/speech-bubble-top.png") top left no-repeat;
}

ul.speech-bubble {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    background: #A163CB;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #A163CB;
    padding: 30px 0 0 30px;
    max-width: 728px;
    display: block;
}

ul.speech-bubble li {
    display: inline-block;
    text-align: left;
}

ul.speech-bubble li .author-name {
    font-family: 'montserratextralight', sans-serif;
    font-size: 2.6rem;
    color: #FFFFFF;
    line-height: 2.6rem
}

ul.speech-bubble li .author-title {
    font-family: 'montserratlight', sans-serif;
    font-size: 2.2rem;
    color: #C8CDD5;
    line-height: 4.7rem;
}

ul.speech-bubble li .testimonial {
    width: 95%;
    font-size: 1.9rem;
    color: #FFFFFF;
    line-height: 3rem;
    margin: 10px 0 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.small-logo {
    margin: 0 20px 0 0;
    border: 4px solid #FFFFFF;
}

ul.speech-bubble li .testimonial .website-link {
    display: inline-block;
    font-size: 1.8rem;
    line-height: 2rem;
    color: #FFFFFF;
    border-bottom: 4px solid #FCEA2C;
    font-weight: 400;
    position: absolute;
    bottom: 20px;
}

#footer {
    padding: 0 0 10px 0;
    background: url("../img/w1440/bg-cut-1.svg") top center no-repeat;

}

#footer .start-a-project {
    text-align: center;
    margin: 0;
    padding: 15px 0 0 0;
    position: relative;
    top: 70px;
}

.footer-wrapper {
    text-align: left;
    margin: 200px auto 0;
    font-weight: 200;
    width: 90%;
}

#footer .contact-details {
    margin: 0;
}

#footer .contact-details, #footer .contact-details a {
    display: inline-block;
    font-size: 1.5rem;
    color: #7E8288;
    margin-right: 20px;
}

#footer .contact-details a {
    text-decoration: underline;
    cursor: pointer;
}

#footer ul {
    display: block;
}

#footer ul li {
    display: inline-block;
    list-style: none;
}

#footer ul.footer-menu li {
    margin: 15px 30px 20px 0;
}

#footer ul.footer-menu li a {
    font-size: 1.5rem;
    color: #7E8288;
}

#footer .bottom-logos {
    margin: 15px 0 0 0;
}

#footer .bottom-logos ul li {
    margin: 0 15px 0 0;
}

#footer .bottom-logos ul li, #footer .bottom-logos ul li a {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: contain;
}

#footer .bottom-logos ul li a.facebook {
    background: url("../img/footer-icon-facebook.png") center center no-repeat;
}

#footer .bottom-logos ul li a.twitter {
    background: url("../img/footer-icon-twitter.png") center center no-repeat;
}

#footer .bottom-logos ul li a.google-plus {
    background: url("../img/footer-icon-google.png") center center no-repeat;
}

/*Contact Form*/
.featherlight-close {
    font-size: 30px;
    color: #7D8288;
    font-weight: bold;
}

.featherlight .featherlight-close-icon {
    line-height: 35px;
    margin: 0 5px 0 0;
}

#contact_form_popup {
    background-color: #ffffff;
    padding: 25px 0 25px 0;
    width: auto;
    height: auto;
}

#contact_form_popup ul li {
    list-style: none;
}

form#contactForm {
    width: 95%;
    margin: 0 auto;
}

form#contactForm input[type="email"], form#contactForm textarea, #contactForm label {
    line-height: 3.5rem;
}

form#contactForm label {
    display: block;
    font-size: 1.8rem;
    margin-top: 15px;
    color: #565656;
    font-family: 'montserratlight', sans-serif;
}

form#contactForm label.inline {
    display: inline-block;
    margin-top: 0;
}

form#contactForm label.inline span {
    display: inline-block;
    margin: 5px 20px 0 5px;
}

#formButtons {
    margin: 40px 0 0 0;
}

a.contact_form_popup_close {
    display: inline-block;
    margin: 15px 0 0 20px;
    font-size: 1.8rem;
    color: #333437;
    border-bottom: 4px solid #FCEA2C;
    font-weight: 400;
    cursor: pointer;
    float: right;
}

/* The fields */

input[type="email"], input[type="text"], textarea {
    width: 100%;
    display: block;
    background: #FFFFFF;
    border: 1px solid #B0B5BC;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 5px;
    font-family: 'montserratextralight', sans-serif;
    font-size: 1.7rem;
    color: #565656;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0 5px 5px 0;
}

textarea {
    line-height: 1.5em;
    resize: none;
}

.featherlight-content h2 {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: #0FBDAF;
    font-family: 'montserratlight', sans-serif;
}

input[type="submit"] {
    font-size: 1.9rem;
    color: #FFFFFF;
    font-weight: 300;
    border: none;
    cursor: pointer;
    background: #0FBDAF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 12px 21px;
    display: inline-block;
}

/* Place a border around focused fields, and hide the inner shadow */

form#contactForm input[type="email"]:focus, form#contactForm textarea:focus {
    border: 1px solid #4299F0;
    outline: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.pop-up-box {
    max-width: 700px;
}

.pop-up-box h2 {
    display: block;
    font-size: 4.4rem;
    color: #0FBDAF;
    line-height: 6.6rem;
    text-align: center;
    font-family: 'montserratlight', sans-serif;
    margin: 20px 0 30px 0;
}

.pop-up-box p, ol, ol li {
    font-size: 1.5rem;
    color: #7E8288;
    line-height: 2.5rem;
    text-align: left;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.pop-up-box ol li {
    margin: 0 0 10px 15px;
}

.pop-up-box p span.centered-small {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
}

.pop-up-box .small-logo {
    margin: 30px 0 0 0;
}

@media (min-width: 1271px) and (max-width: 1290px) {
    .product-info {
        width: 35%;
        max-width: 440px;
    }
}

@media (min-width: 1151px) and (max-width: 1270px) {
    .product-info {
        width: 40%;
    }

    .pictures {
        width: 45%;
        background: url("../img/screen-cut.png") top left no-repeat;
    }

    ul.carousel-pictures li {
        padding: 0 0 0 98px;
    }

    .product-info .text {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}

@media (min-width: 640px) and (max-width: 1150px) {
    html, body {
        height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    #header-top {
        max-width: 920px;
        width: 90%;
    }

    #header-wrapper {
        max-width: 920px;
        width: 85%;
        margin: 0 auto 0;
        background: url(../img/header-bg.gif) top center no-repeat;
        padding: 140px 0 130px 0;
        background-size: contain;
    }

    #header-wrapper .title{
        margin: 20px auto 20px;
    }

    #header-wrapper .description{
        width: 80%;
    }

    #content .content-title-box h2.big-title{
        font-size: 4rem;
        line-height: 5rem;
    }


    #content ul li.process-box .title {
        max-width: 550px;

    }

    #content ul li.process-box .text {
        max-width: 550px;
    }

    #content ul li.process-box .img {
        background-size: contain;
        margin: 12px 35px 0 0;
        max-width: 9rem;
        max-height: 9rem;
    }

    #content ul li.process-box .lunch-proposal {
        background: url("../img/icon-lunch-proposal.svg") top right no-repeat;
        margin: 12px 32px 0 20px;
        background-size: contain;
        width: 7rem;
        max-height: 9rem;
    }

    #content ul li.process-box .lunch-blueprints {
        background: url("../img/icon-lunch-blueprints.svg") top center no-repeat;
        max-width: 11rem;
        background-size: contain;
        margin: 12px 17px 0 0;
    }

    .product-info {
        width: 40%;
    }

    .pictures {
        width: 45%;
        background: url("../img/screen-cut.png") top left no-repeat;
    }

    ul.carousel-pictures li {
        padding: 0 0 0 98px;
    }

    .product-info .text {
        font-size: 15px;
        line-height: 25px;
    }

}

@media (min-width: 640px) and (max-width: 920px) {
    #header-top button.white{
        margin: 0;
    }

    html {
        font-size: 9px;
        line-height: 9px;
    }

    span.block:before { content: ' '; display: block; }

    #content .carousel-testimonials {
        max-width: 579px;
        margin: 40px auto 20px;
    }

    .slick-arrow {
        display: none !important;
        margin: 0;
        padding: 0;
        border: none;
        line-height: 0;

    }

    #content ul li.process-box .title {
        max-width: 400px;

    }

    #content ul li.process-box .text {
        max-width: 400px;
    }

    .slick-dotted.slick-slider {
        margin: 0;
    }

    .carousel-testimonials {
        margin: 45px 0 0 0;
        float: none;

    }

    .carousel-pictures {
        width: 100%;
        display: block;
    }

    ul.carousel-controls {
        margin: 25px auto;
        float: none !important;
    }

    .carousel-wrapper.right{
        float: none;
    }

    ul.carousel-controls li {
        display: inline-block !important;
        margin: 25px 15px 0 0;
        background: url("../img/mobile/slider-dot.png") center center no-repeat;
    }

    ul.carousel-controls li.slick-active {
        background: url("../img/mobile/slider-dot-active.png") center center no-repeat;
        width: 16px;
        height: 16px;
        background-size: contain;
    }

    .product-text {
        display: block;
        width: 100%;
        background: #FFFFFF;
        text-align: left;
        padding: 8px 30px 23px 30px;
        min-height: 220px;
        border-bottom: 1px solid #CBD2D4;
    }

    .product-text .title {
        font-size: 2.2rem;
        color: #7E8288;
        line-height: 66px;
        font-weight: 200;
    }

    .product-text .title img {
        margin: 10px 0 20px 0;
    }

    .product-text .text {
        display: block;
        font-size: 1.5rem;
        line-height: 2rem;
        color: #7E8288;
        max-width: 90%;
        height: 110px;
    }

    .product-text .website-link {
        display: inline-block;
        color: #4299F0;
        border-bottom: 2px solid #4299F0;
        cursor: pointer;
        margin: 15px 0 0 0;
        font-size: 1.6rem;
        line-height: 20px;
        font-weight: 400;
    }

    .pictures {
        width: 100%;
        height: 100%;
        background: none;
        margin: 0;
        padding: 0;
    }

    .pictures > img {
        overflow: hidden;
    }

    ul.carousel-pictures li > img{
        width: 100%;
    }

    ul.carousel-pictures li {
        padding: 0;
        width: 100%;
    }
}