/*font-family: 'montserratlight', sans-serif;*/
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	opacity: .6;
}
.container {
	width: 100%;
	max-width: 175.7rem;
	margin: auto;
	padding: 0 3rem;
	box-sizing: border-box;
}
.container_mini {
	width: 100%;
	max-width: 125.4rem;
	margin: auto;
	padding: 0 3rem;
	box-sizing: border-box;
	position: relative;
}

.header {
    padding: 1rem 0 18rem;
}
.header-inner {
	display: table;
	width: 100%;
	padding: 5rem 0;
}
.header-item {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	text-align: left;
}
.header-item:last-of-type{
	text-align: right;
}
.header-logo {
	width:  6.6rem;
}
.header-link {
	font-size: 2.2rem;
	margin: 1.5rem 0;
	display: inline-block;
}
.header-btn {
    padding: 1.6rem 2.6rem;
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
    border-radius: 0.3rem;
    font-size: 2.2rem;
    margin-left: 2rem;
    white-space: nowrap;
}
.header-btn:active {
	border: 1px solid transparent;
}

.process-title {
	text-align: center;
	font-size: 7.3rem;
	color: #565656;
	font-family: montserratBold;
    margin-bottom: 25.2rem;
    position: relative;
}
.process-title>img {
	margin-left: 3.6rem;
    position: absolute;
    width: 22rem;
    bottom: 2rem;
}
.process-content {
	margin-top: 5rem;
	display: table;
	width: 100%;
}

.process-item {
	display: table;
	width: 100%;
	height: 45rem;
	position: relative;
}
.process-item-left {
	display: table-cell;
	border: 1.2rem solid #cccccc;
	width: 41.2%;
	vertical-align: top;
	padding: 1.9rem 1.3rem;
	position: relative;
}
.process-item-right {
	display: table-cell;
	width: 41.2%;
	text-align: center;
	vertical-align: middle;

	font-family: "montserratmedium";
	font-size: 4.1rem;
	color: #0075FF;
}
.process-item-center {
	text-align: center;
	vertical-align: top;
	padding: 1rem;
}
.process-img-wrap {
    border-radius: 50%;
    border: 2px solid grey;
    display: inline-block;
    height: 17rem;
    width: 17rem;
    background-color: #fff;
    position: relative;
    top: -4.5rem;
}
.process-img-wrap>img {
	width: 100%;
	height: 100%;
	max-width: calc( 100% - 6rem );
	max-height: calc( 100% - 6rem );
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}
.process-space {
	height: 24.7rem;
}

.process-content-title {
	font-family: montserratmedium;
    font-size: 3.45rem;
    color: #565656;
    margin-bottom: 3.4rem;
}
.process-text {
    font-family: montserratlight;
    font-size: 2.6rem;
    line-height: 1.67;
    color: #7D8288;
}

.process-item:not(:nth-of-type(10)):not(:nth-of-type(9)):before {
	content: "";
	display: block;
	position: absolute;
	width: 2px;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: 0 auto;
	background-color: grey;
	z-index: -1;
}
.process-item:nth-of-type(1) .process-item-left:before,
.process-item:nth-of-type(5) .process-item-left:before,
.process-item:nth-of-type(9) .process-item-left:before {
	content: "";
    display: block;
    position: absolute;
    border: 2.6rem solid transparent;
    border-left: 3.6rem solid #ccc;
    top: 1.8rem;
    right: -6.5rem;
	z-index: -1;
}

.process-item:nth-of-type(3) .process-item-left:before,
.process-item:nth-of-type(7) .process-item-left:before {
	content: "";
	display: block;
	position: absolute;
	border: 2.6rem solid transparent;	
	border-right: 3.6rem solid #ccc;
	top: 1.8rem;
	left: -6.5rem;
	z-index: -1;
}



.footer>.container{
	margin-top: 20rem;
	background-color: #ccc;
	position: relative;
	overflow: hidden;
    max-width: 184.7rem;
    padding-bottom: 5rem;
}
.footer-line {
	height: 14rem;
    position: absolute;
    top: -8.4rem;
    left: -5rem;
    right: -5rem;
    transform: rotate(-3.5deg);
    background-color: white;
    z-index: 0;
}
.footer-btn {
    display: block;
    width: 25.6rem;
    text-align: center;
    color: #fff;
    padding: 2rem;
    font-size: 2.3rem;
    border: 1px solid #0fbdaf;
    background-color: #0fbdaf;
    border-radius: .5rem;
    cursor: pointer;
    transition-duration: .3s;
    margin: 1.7rem auto 14rem;
}
.footer-btn:hover {
	background-color: transparent;
	color: #0fbdaf;
}
.footer-btn-up {
	position: absolute;
	left: 3rem;
	top: 0;
}
.footer-icon {
	display: inline-block;
	width: 4.8rem;
    fill: #000;
}
.footer-icon>img {
	width: 100%;
}
.soc-google {
    position: absolute;
    right: 3rem;
    top: -1.7rem;
}
.footer-row {
	display: table;
	width: 100%;
}
.footer-left {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}
.footer-right {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

.process-item-right>img {
    display: block;
    margin: 2rem auto;
}
.footer-link {
    font-size: 1.9rem;
    margin-right: 3.3rem;
    margin-bottom: 3.7rem;
    display: inline-block;
    color: #565656;
}

.footer-row:last-of-type {
    margin-top: 3.8rem;
    padding-right: 6.1rem;
    box-sizing: border-box;
}
.footer-row:last-of-type .footer-right {
	vertical-align: bottom;
}
.footer-row:last-of-type .footer-icon {
	margin-left: 1.7rem;
}
.footer-right .footer-link {
	margin: 0 0 3.7rem 1.7rem;
}
.footer-right a[href*="mailTo"] {
	text-decoration: underline;
}


/* F A Q */
.faq .container {
	padding: 0 1.5rem;
}
.faq:after {
	content: "";
	display: table;
	width: 100%;
	height: 1px;
}
.side-menu {
	float: left;
	width: 24.5%;
}
.faq-content {
	float: left;
	width: 75.5%;
}
.side-link {
	display: block;
	margin-bottom: 5rem;
	font-size: 3rem;
	font-family: "montserratmedium";
}
.faq-title {
    margin-bottom: 7.4rem;
    padding-bottom: 5rem;
    font-size: 5.8rem;
    position: relative;
    color: #0075FF;
    letter-spacing: -0.3rem;
}
.faq-title:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #ccc;
} 
.faq-title-categ {
    font-family: "montserratmedium";
    font-size: 3.3rem;
    line-height: 1.5;
    margin: 0 0 0.3rem;
}
.faq-text {
font-size: 2.5rem;
    line-height: 1.6;
    margin: 0 0 9rem 1.8rem;
}
.faq-last-text {
	font-size: 2.5rem;
	line-height: 1.5;
	margin-top: 5rem;
	font-weight: bold;
}
.side-menu-inner.fixed {
	position: fixed;
	top: 30px;
}