.container {
  width: 100rem;
  height: 40rem;
  background-color: #ddd;
  margin: auto;
  position: relative;
}
.box {
  position: absolute;
  width: 30%;
  height: 45%;
  box-sizing: border-box;
  border: 1px solid grey;
  &.active {
    background-color: grey;
  }
}
.container2>.box {
  width: auto;
  height: auto;
  background-color: grey;
}

.box1 {
  top:0;
  left:0;
}
.box2 {
  top: 0;
  left: 35%;
}
.box3 {
  top: 0;
  left: 70%;
}
.box4 {
  bottom: 0;
  left:0;
}
.box5 {
  bottom: 0;
  left: 35%;
}
.box6 {
  bottom: 0;
  left: 70%;
}

.btn-group {
  margin: 5rem 0;
  text-align: center;
}
.btn {
  padding: 1rem 2rem;
  margin: 0 2rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: dodgerblue;
  border-radius: .5rem;
  border: 1px solid dodgerblue;
  transition-duration: .4s;
  &:hover {
    color: dodgerblue;
    background-color: #fff;
    border: 1px solid dodgerblue;
  }
}