head
	title Русерс - производственное предприятие
	meta(charset='UTF-8')
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
	meta(name="format-detection", content="telephone=no")

	link(href='css/reset.css',rel="stylesheet")
	link(href='css/font.css',rel="stylesheet")

	link(href='css/slick.css',rel="stylesheet")
	link(href='css/slick-theme.css',rel="stylesheet")

	link(href='css/jquery.fancybox.css',rel="stylesheet")

	link(href='css/jquery-ui.min.css',rel="stylesheet")
	link(href='css/jquery-ui.theme.min.css',rel="stylesheet")

	link(href='css/layout.css',rel="stylesheet")
	link(href='css/mobile.css',rel="stylesheet")