:root {
  font-size: 6px;
  font-family: "Helvetica"; }

@media only screen and (max-width: 1440px) {
  :root {
    font-size: 0.45vw; } }

@media only screen and (max-width: 980px) {
  :root {
    font-size: 6px; } }

@media only screen and (max-width: 767px) {
  :root {
    font-size: 6.5px; } }

@media only screen and (min-width: 1500px) {
  .what-we-do_item,
  .stories-single-item {
    margin: 6.4rem auto 0; }
  .what-we-do .title {
    margin: 6.4rem auto 0;
    width: 115rem; } }

@media only screen and (max-width: 1023px) {
  .contact-form,
  .contact_details {
    margin: 0 0 5rem 0;
    width: auto;
    float: none; } }

@media only screen and (max-width: 900px) {
  .stories-item {
    width: 47%; } }

@media only screen and (max-width: 767px) {
  .contact {
    padding: 10rem 3rem; }
  main {
    margin: 0; }
  .index,
  .preloader {
    left: 0; }
  .header {
    background: #fff;
    transform: translateX(-110%);
    transition-duration: .5s;
    width: 100%; }
  .header.open {
    transform: translateX(0); }
  .header_logo-link {
    width: 150px;
    margin-bottom: 5rem; }
  .close {
    display: block; }
  .headerSocialFB {
    float: right;
    margin-top: 19rem; }
  .header_menu {
    width: 150px; }
  .what-we-are_img-box {
    float: none;
    margin-bottom: 2rem; }
  .what-we-are_content {
    float: none; }
  .close,
  .icon_menu {
    display: block; }
  .stories-count {
    display: table-caption;
    text-align: right;
    margin-bottom: 4rem; }
  .stories-count_title {
    padding: 0 0.7rem; }
  .stories-controls {
    display: table-row; }
  .stories {
    padding-right: 2.6rem; }
  .switch-map {
    display: none; }
  .index_logo-link {
    display: block; }
  .header_logo-link {
    display: none; }
  .icon_menu {
    left: auto;
    width: 5rem;
    top: 3.5rem;
    right: 3.5rem; }
  .footer .toggle-lang {
    display: none; }
  .header .toggle-lang {
    display: block;
    position: static;
    margin-bottom: 20vh; }
  .headerSocialFB {
    display: none; }
  .index .header_logo {
    display: block; }
  .main_logo-link {
    display: block;
    position: absolute;
    top: 2rem;
    left: 3.5rem;
    top: 3rem;
    left: 3rem;
    width: 10rem; }
  .what-we-do,
  .what-we-are,
  .stories,
  .stories-single,
  .contact {
    padding: 18rem 3rem 10rem; } }

@media only screen and (max-width: 600px) {
  .contact-form .contac-form-item {
    float: none;
    width: auto;
    margin-left: 0; }
  .contact_details {
    margin: 0;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding-top: 5rem; } }

@media only screen and (max-width: 550px) {
  .stories-item {
    width: 100%; }
  .stories-container {
    justify-content: center; }
  .srories-header {
    box-sizing: border-box;
    padding: 0 3px; } }

@media only screen and (max-width: 400px) {
  .stories {
    padding-right: 2.3rem;
    padding-left: 2.3rem; }
  .stories-filters-text {
    display: block;
    margin-bottom: 1.5rem; } }

@media only screen and (min-width: 768px) {
  .header {
    transform: translateX(0) !important; } }

@media only screen and (max-height: 550px) {
  .header_logo-down,
  .header_logo,
  .headerSocialFB {
    display: none; }
  .header {
    min-height: auto; }
  .header_menu {
    position: absolute;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 3rem;
    margin: auto;
    height: 24.4rem; } }
