header.reports-header
		a(href="#")
			img.reports-arrow(src="img/icon_left.png", alt="logo")
		h1.reports-title Radiology Reports
		button.reports-lang Eng

main.reports
	.reports-search
		input#search(type="text")
		label.label-search(for="search")
			img(src="img/search-icon.png", alt="icon")
			| Search
	.reports-count 27 Reports

	.reports-item
		.reports-row1
			.reports-col1_1 AH-09-12-452
			.reports-col1_2
				span routine
				span cr
		.reports-row2
			.reports-col2_1 Dhaka - Provider
			.reports-col2_2 01 Sep, 2016 : 16:38
		.reports-row3
			.reports-col3_1
				img(src="img/icon_dl.png", alt="")
				| Download
			.reports-col3_2: a(href="#") Send to Doctor

	.reports-item
		.reports-row1
			.reports-col1_1 AH-09-12-452
			.reports-col1_2
				span routine
				span cr
		.reports-row2
			.reports-col2_1 Dhaka - Provider
			.reports-col2_2 01 Sep, 2016 : 16:38
		.reports-row3
			.reports-col3_1
				img(src="img/icon_dl.png", alt="")
				| Download
			.reports-col3_2: a(href="#") Send to Doctor

	.reports-item
		.reports-row1
			.reports-col1_1 AH-09-12-452
			.reports-col1_2
				span routine
				span cr
		.reports-row2
			.reports-col2_1 Dhaka - Provider
			.reports-col2_2 01 Sep, 2016 : 16:38
		.reports-row3
			.reports-col3_1
				img(src="img/icon_dl.png", alt="")
				| Download
			.reports-col3_2: a(href="#") Send to Doctor

