main.index
	section.first
		.slider
			.slider-item
				//- .slider-inner
				//- 	.slider-img

		.contact-box
			.form-wrap
				form.form(action="/")
					p.form-title Изготовление деталей из металла по вашим чертежам
					p.form-text В поиске компании по металлообработке? Отправьте ваш запрос для оценки стоимости
					input(type="text", placeholder="ВАШЕ ИМЯ")
					input(type="text", placeholder="ТЕЛЕФОН")
					input(type="text", placeholder="E-MAIL")
					input(type="submit", value="ОТПРАВИТЬ")
			p.form-info * Если требуется отправить чертеж, перейдите на 
				a(href="#") форму заказа

	section.work
		.container
			.work-list
				.work-item
					img.work-img(src="img/work_1.jpg", alt="image")
					.work-content
						p.work-title Фрезерные работы
						p.work-text Медиамикс продуцирует охват аудитории. Исходя из структуры пирамиды Маслоу, рекламный клаттер раскручивает инструмент маркетинга.
						a.work-btn(href="#") узнать больше
				.work-item
					img.work-img(src="img/work_2.jpg", alt="image")
					.work-content
						p.work-title Токарные работы
						p.work-text Медиамикс продуцирует охват аудитории. Исходя из структуры пирамиды Маслоу, рекламный клаттер раскручивает инструмент маркетинга.
						a.work-btn(href="#") узнать больше
				.work-item
					img.work-img(src="img/work_3.jpg", alt="image")
					.work-content
						p.work-title Изготовление деталей <br>по чертежам заказчика
						p.work-text Медиамикс продуцирует охват аудитории. Исходя из структуры пирамиды Маслоу, рекламный клаттер раскручивает инструмент маркетинга.
						a.work-btn.btn-mark(href="#") узнать больше
				.work-item
					img.work-img(src="img/work_4.jpg", alt="image")
					.work-content
						p.work-title Сварочные <br>и сборочные работы
						p.work-text Медиамикс продуцирует охват аудитории. Исходя из структуры пирамиды Маслоу, рекламный клаттер раскручивает инструмент маркетинга.
						a.work-btn(href="#") узнать больше

			.work-slider
				.work-slider-title Наше оборудование
				.work-slider-box
					.work-slider-item
						img(src="img/slider_vert_1.jpg", alt="")
					.work-slider-item
						img(src="img/slider_vert_1.jpg", alt="")
					.work-slider-item
						img(src="img/slider_vert_1.jpg", alt="")
				.work-slider-title Наша продукция
				.work-slider-box
					.work-slider-item
						img(src="img/slider_vert_2.jpg", alt="")
					.work-slider-item
						img(src="img/slider_vert_2.jpg", alt="")
					.work-slider-item
						img(src="img/slider_vert_2.jpg", alt="")

	section.guarantee
		.container
			h1.guarantee-title Гарантируем качество изделий
			a.fancybox(href="img/guar.jpg")
				img(src="img/guar.jpg", alt="garant")
			ul.guarantee-list
				li.guarantee-li
					svg.guarantee-img(viewBox="0 -23 106.032 106.22")
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#garant_1")
					span Производство  сертифицировано ГОСТ ISO 9001

				li.guarantee-li
					svg.guarantee-img(viewBox="-22 -28.5 106.032 106.22")
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#garant_2")
					span Заводское качество и низкие цены
				li.guarantee-li
					svg.guarantee-img(viewBox="-13 -29.2 106.032 106.22")
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#garant_3")
					span Обновляемый и модернизируемый парк станков

	section.clients
		.container
			h1.clients-title Наши заказчики
			p.clients-text Предприятия крупного, среднего и точного машиностроения

			#tabs
				ul.tabs-ul
					li.tabs-li: a(href="#tabs-1") Машиностроительные предприятия
					li.tabs-li: a(href="#tabs-2") Производители<br>пишевой продукции
					li.tabs-li: a(href="#tabs-3") предприятия специального машиностроения
					li.tabs-li: a(href="#tabs-4") Оборонные предприятия

				ul#tabs-1
				ul#tabs-2
				ul#tabs-3
				ul#tabs-4

		.tabs-wrap
			.container
				.tabs-arow
			.container
				.tabs-1.tabs-list
					.tabs-list-row
						.tabs-list-cell: img(src="img/brands_1.png", alt="image")
						.tabs-list-cell: img(src="img/brands_2.png", alt="image")
						.tabs-list-cell: img(src="img/brands_3.png", alt="image")
					.tabs-list-row
						.tabs-list-cell: img(src="img/brands_4.png", alt="image")
						.tabs-list-cell: img(src="img/brands_5.png", alt="image")
						.tabs-list-cell: img(src="img/brands_6.png", alt="image")
				.tabs-2.tabs-list
					.tabs-list-row
						.tabs-list-cell: img(src="img/brands_4.png", alt="image")
						.tabs-list-cell: img(src="img/brands_2.png", alt="image")
						.tabs-list-cell: img(src="img/brands_3.png", alt="image")
					.tabs-list-row
						.tabs-list-cell: img(src="img/brands_5.png", alt="image")
						.tabs-list-cell: img(src="img/brands_6.png", alt="image")
				.tabs-3.tabs-list
					.tabs-list-row
						.tabs-list-cell: img(src="img/brands_1.png", alt="image")
						.tabs-list-cell: img(src="img/brands_3.png", alt="image")
						.tabs-list-cell: img(src="img/brands_6.png", alt="image")
					.tabs-list-row
						.tabs-list-cell: img(src="img/brands_4.png", alt="image")
						.tabs-list-cell: img(src="img/brands_5.png", alt="image")
				.tabs-4.tabs-list
					.tabs-list-row
						.tabs-list-cell: img(src="img/brands_1.png", alt="image")
						.tabs-list-cell: img(src="img/brands_2.png", alt="image")
						.tabs-list-cell: img(src="img/brands_3.png", alt="image")
					.tabs-list-row
						.tabs-list-cell: img(src="img/brands_5.png", alt="image")
						.tabs-list-cell: img(src="img/brands_6.png", alt="image")

		.container
			#accordion
				h3.accordion-title Машиностроительные предприятия
				ul.accordion-list
					li: img(src="img/brands_1.png", alt="image")
					li: img(src="img/brands_2.png", alt="image")
					li: img(src="img/brands_3.png", alt="image")
					li: img(src="img/brands_4.png", alt="image")
					li: img(src="img/brands_5.png", alt="image")
					li: img(src="img/brands_6.png", alt="image")

				h3.accordion-title Производители пишевой продукции
				ul.accordion-list
					li: img(src="img/brands_1.png", alt="image")
					li: img(src="img/brands_3.png", alt="image")
					li: img(src="img/brands_4.png", alt="image")
					li: img(src="img/brands_5.png", alt="image")
					li: img(src="img/brands_6.png", alt="image")

				h3.accordion-title предприятия специального машиностроения
				ul.accordion-list
					li: img(src="img/brands_1.png", alt="image")
					li: img(src="img/brands_2.png", alt="image")
					li: img(src="img/brands_3.png", alt="image")
					li: img(src="img/brands_5.png", alt="image")
					li: img(src="img/brands_6.png", alt="image")

				h3.accordion-title Оборонные предприятия
				ul.accordion-list
					li: img(src="img/brands_1.png", alt="image")
					li: img(src="img/brands_2.png", alt="image")
					li: img(src="img/brands_3.png", alt="image")
					li: img(src="img/brands_4.png", alt="image")
					li: img(src="img/brands_5.png", alt="image")
