main.index
    .container.container1
        .box.box1(data-numb=1)
        .box.box2(data-numb=2)
        .box.box3(data-numb=3)
        .box.box4(data-numb=4)
        .box.box5(data-numb=5)
        .box.box6(data-numb=6)

    .btn-group
        buttom.btn.btn1 Довавить выбранный контейнер
        buttom.btn.btn2 Все очистить

    .container.container2