main.index
    .banner-container.banner-container1
        .banner-box.banner-box1(data-numb=1)
        .banner-box.banner-box2(data-numb=2)
        .banner-box.banner-box3(data-numb=3)
        .banner-box.banner-box4(data-numb=4)
        .banner-box.banner-box5(data-numb=5)
        .banner-box.banner-box6(data-numb=6)

    .banner-btn-group
        buttom.banner-btn.banner-btn1 Довавить выбранный контейнер
        buttom.banner-btn.banner-btn2 Все сбросить

    .banner-container.banner-container2
