header.index-header
		img.logo(src="img/logo.png", alt="logo")
		select.reports-lang
			option Eng
			option Far
		h1.index-title Welcome to AlemHealth

main.index
	.index-content
		img.index-img(src="img/nurse.png", alt="image")
		h1.index-content-title RADIOLOGY
			span Reports
		a.index-content-img(href="#")
			img(src="img/icon_right.png", alt="")