
<footer class="footer">
  <div class="container"> 
    <div class="footer-table">
      <div class="footer-item"><a href="index.html"><img src="img/logo-footer.png" alt="" class="footer-logo"/></a></div>
      <div class="footer-item"><a href="#" class="footer-link">Механообработка деталей</a><a href="#" class="footer-link">Токарные работы</a></div>
      <div class="footer-item"><a href="#" class="footer-link">Фрезеровка деталей</a><a href="#" class="footer-link">Фрезерный работы</a></div>
      <div class="footer-item">
        <p class="footer-text">г. Санкт-Петербург, Колпино</p>
        <p class="footer-text">Ижорский завод, пр. Ленина, д.1</p>
      </div>
      <div class="footer-item"><a href="tel:88000000000" class="footer-link">8 800 000 00 00</a><a href="#" class="footer-link">НАПИСАТЬ ДИРЕКТОРУ</a></div>
    </div>
  </div>
</footer>