footer.footer
	.container 
		.footer-table
			.footer-item: a(href="index.html"): img.footer-logo(src="img/logo-footer.png", alt="")
			.footer-item
				a.footer-link(href="#") Механообработка деталей
				a.footer-link(href="#") Токарные работы
			.footer-item
				a.footer-link(href="#") Фрезеровка деталей
				a.footer-link(href="#") Фрезерный работы
			.footer-item
				p.footer-text г. Санкт-Петербург, Колпино
				p.footer-text Ижорский завод, пр. Ленина, д.1
			.footer-item
				a.footer-link(href="tel:88000000000") 8 800 000 00 00
				a.footer-link(href="#") НАПИСАТЬ ДИРЕКТОРУ