footer.footer
	ul.footer-menu
		li.footer-item
			img.footer-img(src="img/icon_about.png", alt="icon")
			p.footer-text ABOUT US
		li.footer-item
			img.footer-img(src="img/icon_share.png", alt="icon")
			p.footer-text share
		li.footer-item
			img.footer-img(src="img/icon_men.png", alt="icon")
			p.footer-text my profile
		li.footer-item
			img.footer-img(src="img/icon_out.png", alt="icon")
			p.footer-text LOG OUT