include all-svg.html
header.header
	.container
		a.logo(href="index.html")
			img(src="img/logo.png", alt="logo")
		.phone
			a.phone-link(href="tel:88000000000") 8 800 000 00 00
			button.phone-btn Обратный звонок
		.adress
			p Производствто
			p г. Санкт-Петербург, Колпино
			p Ижорский завод, пр. Ленина, д.1
	nav.nav
		.burger-menu
			.burger
		.container
			ul.menu
				li: a.menu-link(href="#") О компании
				li: a.menu-link(href="#") оборудование
				li: a.menu-link(href="#") виды работ
				li: a.menu-link(href="#") Изделия
				li: a.menu-link(href="#") рекомендации
				li: a.menu-link(href="#") вакансии
				li: a.menu-link(href="#") контакты